__pycache__
*.pyc
*.pyo
.venv
venv
.git
.vscode
.idea
*.log
.DS_Store

# Exclude large unnecessary files but NOT the model or src
RA_Ordinal_Classification/notebooks
RA_Ordinal_Classification/results
